body{
    background: linear-gradient(darkblue,  rgb(14, 14, 29)) no-repeat;
}

#wrapper{
    width: 50%;
    height: 700px; ;
    margin : 2% auto;
    padding: 2%;
    background-color: white; 
    border: 1px solid  rgb(14, 14, 29);
    border-radius: 10px;

}